.mainContent {
  background-color: beige;
}

.noTableContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.noTableElement {
  text-align: center;
  width: 100%;
}

.karte {
  position: absolute;
  bottom: 0;
  left: 100px;
  width: 100px;
  height: 100px;
  background-color: red;
}