<mat-sidenav-container class="mainContent height100">
  <mat-sidenav [(opened)]="isSideNavOpen" (opened)="sideNavOpened()" (closed)="sideNavClosed()">
    <ecs-table-list [isOpen]="isSideNavOpen"></ecs-table-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="!table" class="noTableContainer height100">
      <div class="noTableElement">
        <span>{{ 'table.noTable.msg' | translate }}</span>
      </div>
      <div class="noTableElement padding-top-s">
        <button  mat-raised-button color="primary" (click)="sideNavOpened()">{{ 'table.noTable.openTablelist' | translate }}</button>
      </div>
    </div>
    <div *ngIf="table">
      <p>table works!</p>
      <p>{{ table | json }}</p>
      <div class="karte" cdkDrag></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
