.mainContent {
  height: 480px;
  background-color: beige;
}

.noTableContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}

.noTableElement {
  text-align: center;
  width: 50%;
}
