.mainContent {
  background-color: beige;
}

.noTableContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.noTableElement {
  text-align: center;
  width: 100%;
}

.karte {
  width: 30px;
  height: 100px;
  transform-origin: 45px 70px;
}

.karte > img {
  width: 90px;
}

.kartenliste {
  position: absolute;
  bottom: 0;
  left: -60px;
  width: calc(100% + 60px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.cdk-drag-placeholder {
  opacity: 0;
}
