
.ecsHeader {
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
}

fa-icon {
    padding: 10px;
}

.header-spacer {
  flex: 1 1 auto;
}
