
.ecsFooter {
    background-color: var(--p-dark);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footer-height);
}

.ecsFooter2 {
  background-color: var(--p-dark);
  height: 100%;
}
