<div>
  <mat-card class="margin-s tischkarte">
	  <span>{{ table.name }}</span>
    <mat-card-actions align="end">
      <div class="margin-right-s">
        <button mat-mini-fab [disabled]="(table?.creatorId != playerId) || !!table?.spieler?.length" (click)="deleteTable(table.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button mat-mini-fab [disabled]="joinedAny && !joinedThis" (click)="joinTable(!joinedThis)">
        <mat-icon [ngClass]="{ 'rotate180': joinedThis}">input</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>


<ng-template #deleteTableDialog>
  <h2 mat-dialog-title>
    {{ 'table-card.delete-table-dialog.title' | translate }}
  </h2>
  <div mat-dialog-content>
    <span>{{ 'table-card.delete-table-dialog.msg' | translate }}</span>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>
      {{ 'app.button.cancel' | translate }}
    </button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
      {{ 'app.button.delete' | translate }}
    </button>
  </div>
</ng-template>